
body {
  font-family: Monaco, 'Courier New', Courier, Fixed;
  font-size: 0.9em;
  height: 95%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.code {
  white-space: pre;
  overflow: auto;
  /*overflow: hidden;*/
  height: 95%;
  margin-top: 10px;
}

span.comment                          { color: #888; }
span.keyword, span.attribute          { color: #720; }
span.var                              { color: #33C; }
span.symbol                           { color: #888; }
span.string, span.integer, span.float { color: #F0C; }
span.application                      { color: #064; }
span.macro                            { color: #80F; }
span.line                             { color: #BBB; }

a.green {
  text-decoration: none;
  cursor: default;
}

a.level1,  td.level1  { background: #D0FFD0; }
a.level2,  td.level2  { background: #C0FFC0; }
a.level3,  td.level3  { background: #B0FFB0; }
a.level4,  td.level4  { background: #A0FFA0; }
a.level5,  td.level5  { background: #98FF98; }
a.level6,  td.level6  { background: #90FF90; }
a.level7,  td.level7  { background: #88FF88; }
a.level8,  td.level8  { background: #80FF80; }
a.level9,  td.level9  { background: #78FF78; }
a.level10, td.level10 { background: #70FF70; }
a.level11, td.level11 { background: #68F068; }
a.level12, td.level12 { background: #60E860; }
a.level13, td.level13 { background: #58E058; }
a.level14, td.level14 { background: #50D850; }
a.level15, td.level15 { background: #48D048; }
a.level16, td.level16 { background: #40C840; }

a.uncovered {
  position: relative;
  padding-top: 100px;
}

a.red {
  background: #FFC0C0;
  text-decoration: none;
  cursor: default;
}

table.tooltip {
  font-family: Tahoma, sans-serif;
  font-size: 0.9em;
  position: fixed;
  display: block;
  visibility: hidden;
  left: 1em;
  top: 1.5em;
  z-index: 99;
  margin-left: 0;
  border-radius: 5px 5px;
  color: #000000;
  padding: 0.2em 0.4em;
  background: #FFFFAA;
  border: 1px solid #FFAD33;
}

tr.tooltip-total td {
  border-bottom: 1px solid #FFAD33;
}

td.tooltip-call {
  text-align: right;
}

.page-table {
  width: 100%;
  height: 100%;
}

.page-body {
  overflow: scroll;
}

#preview-window {
  font-size: 85%;
  position: absolute;
  display: block;
  width: 90%;
  z-index: 100;
  background: #FFFFFF;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3px;
  border-left: 2px solid #888888;
  border-right: 2px solid #888888;
  border-bottom: 2px solid #888888;
  white-space: pre;
}

#viewport-indicator {
  border: 1px solid black;
  z-index: 200;
  top: 5px;
  position: fixed;
  height: 26px;
  width: 50px;
  pointer-events: none;
}

#summary-table {
  margin-top: 2px;
  border-spacing: 0;
  border: 1px solid #BBBBBB;
  width: 100%;
  cursor: pointer;
  table-layout: fixed;
}

.summary-line {
  padding: 0;
  margin: 0;
  width: 1px;
  height: 20px;
  cursor: pointer;
}

.summary-line.collapsed {
  width: 0;
}

.summary-green { background: #C0FFC0; }
.summary-red   { background: #FF4040; }

#console {
  margin-top: 8px;
  padding-top: 3px;
  background: #FFFFC0;
}

.highlighted {
  background: #FFFFA0;
}


